# Ignore pkg and target directories in all packages
packages/**/pkg
packages/**/target
packages/**/.turbo

.turbo
.history
.DS_Store
.vscode
node_modules
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
/docs
