@import '../../@shared-styles.scss';

.helpItemRoot {
    @include flex-center(column, $g-sm);
    align-items: start;
    width: 100%;
}

.helpItemTitle {
    font-size: $fs-md;

    @media (min-width: $bp-md) {
        font-size: $fs-lg;
    }
}

.helpItemText {
    color: $c-secondary;
    text-align: justify;
    font-size: $fs-sm;

    @media (min-width: $bp-md) {
        font-size: $fs-md;
    }
}

.helperItemLink {
    margin-left: $g-sm;

    @media (min-width: $bp-md) {
        margin-left: $g-md;
    }
}
