@import '../../@shared-styles.scss';

$progress-bar-size: 36px;
$progress-item-width-sm: 158px;
$progress-item-width-md: 200px;

.statisticsRoot {
    @include flex-center(row, $g-md);
}

.statisticsMesures {
    @include flex-center(row, $g-md);
}

.statisticsProgressContent {
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.statisticsProgressDescription {
    font-size: $fs-sm;
    color: $c-secondary;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.statisticsProgresItem {
    @include flex-center(row, $g-md);
    justify-content: flex-start;
    overflow: hidden;
    min-width: $progress-item-width-sm;
    max-width: $progress-item-width-sm;

    @media (min-width: $bp-sm) {
        min-width: $progress-item-width-md;
        max-width: $progress-item-width-md;
    }
}

.statisticsProgressBar {
    @include flex-center(row);
    min-width: $progress-bar-size;
    min-height: $progress-bar-size;
    border-radius: 50%;
}
