@import '../../../@shared-styles.scss';

$thumb-radus: 8px;
$slider-radius: 2px;

.sliderRoot {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $g-md;

    > * {
        margin: 0;
    }
}

.sliderLabel {
    font-size: $fs-md;
}

.sliderFooter {
    font-size: $fs-sm;
    color: $c-secondary;
    display: flex;
}

.sliderDivider {
    flex: 1;
}

.sliderInput {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;

    /* slider thumb */
    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        margin-top: $slider-radius - $thumb-radus; /* Centers thumb on the track */
        background-color: $c-primary;
        border-radius: $thumb-radus;
        height: $thumb-radus * 2;
        width: $thumb-radus * 2;
    }

    /* slider track */
    &::-webkit-slider-runnable-track {
        background-color: $c-primary;
        border-radius: $slider-radius;
        height: $slider-radius * 2;
    }

    &::-moz-range-track {
        background-color: $c-primary;
        border-radius: $slider-radius;
        height: $slider-radius * 2;
    }

    /* slider thumb */
    &::-moz-range-thumb {
        background-color: $c-primary;
        border: none; /*Removes extra border that FF applies*/
        border-radius: $thumb-radus;
        height: $thumb-radus * 2;
        width: $thumb-radus * 2;
    }
}
