/*********** Baseline, reset styles ***********/

$thumb-radus: 8px;
$slider-radius: 2px;

.sliderRoot {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    > * {
        margin: 0;
    }
}

.sliderLabel {
    color: #3bb34a;
    font-size: 14px;
}

.sliderFooter {
    font-size: 12px;
    color: #8b8b8b;
    display: flex;
}

.sliderDivider {
    flex: 1;
}

.sliderInput {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;

    /* Removes default focus */
    :focus {
        outline: none;

        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
            outline: 3px solid #3bb34a;
            outline-offset: 1px;
        }
    }

    /* slider thumb */
    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        margin-top: $slider-radius - $thumb-radus; /* Centers thumb on the track */
        background-color: #3bb34a;
        border-radius: $thumb-radus;
        height: $thumb-radus * 2;
        width: $thumb-radus * 2;
    }

    /* slider track */
    &::-webkit-slider-runnable-track {
        background-color: #3bb34a;
        border-radius: $slider-radius;
        height: $slider-radius * 2;
    }

    &::-moz-range-track {
        background-color: #3bb34a;
        border-radius: $slider-radius;
        height: $slider-radius * 2;
    }

    /* slider thumb */
    &::-moz-range-thumb {
        background-color: #3bb34a;
        border: none; /*Removes extra border that FF applies*/
        border-radius: $thumb-radus;
        height: $thumb-radus * 2;
        width: $thumb-radus * 2;
    }
}
