@import '../@shared-styles.scss';

.splashScreenRoot {
    @include flex-center(column, $g-sm);
    width: 100vw;
    height: 100vh;
    color: $c-primary;
    font-weight: 500;
    padding: $g-none $g-md;

    @media (min-width: $bp-sm) {
        gap: $g-md;
        padding: $g-none $g-lg;
    }
}

.splashScreenTitle {
    font-weight: 600;
    font-size: $fs-xxxl;

    @media (min-width: $bp-md) {
        font-size: $fs-xxxxl;
    }
}

.splashScreenSubtitle {
    font-size: $fs-xl;

    @media (min-width: $bp-md) {
        font-size: $fs-xxl;
    }
}

.logo {
    min-width: 40vw;
    max-width: 196px;

    @media (min-width: $bp-sm) {
        min-width: unset;
    }

    @media (min-width: $bp-md) {
        max-width: 256px;
    }
}
